@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <h1>You are not authenticated!</h1>
}
else
{
    <h1>User Claims:</h1>
    <ul>
        @foreach(var claim in User.Identities.First().Claims)
        {
            <li><strong>@claim.Type:</strong> @claim.Value</li>
        }
    </ul>
}
